ion-content{
    .black{
        background-color: black;
        background-image: url('/assets/back.png');
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 

        .form{
            width: 80%;
            margin: 0px auto;
        }
        .logo{
            background-image: url('/assets/logo.png');
            background-repeat: no-repeat;
            min-height: 190px;
            background-size: contain;
            min-width: 190px;
            background-position: center;
            
        }
        .register{
                color: #ffffff;
                font-size: 16px;
            }

            ion-item{
                border-radius: 15px;
            }
    
            ion-button{
                --border-radius: 25px;
                margin: 15px 0px;
            }
    }
    
   
}
