<ion-content>
  <div class="black">
    <ion-header>
    <ion-toolbar class="topo">

    </ion-toolbar>
    </ion-header>
    <ion-slides [options]="slideOpts">
      <ion-slide>
          <img src="/assets/Comida.png" />
      </ion-slide>

      <ion-slide>
        <img src="/assets/Comida.png" />
      </ion-slide>

      <ion-slide>
        <img src="/assets/Comida.png" />
      </ion-slide>

      <ion-slide>
        <img src="/assets/Comida.png" />
      </ion-slide>
    </ion-slides> 
    
  </div>

</ion-content>

